<div class="row bg-success p-2" style="border-top-right-radius: 5px; color:
    white">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#" style="color: white;">User</a></li>
            <li class="breadcrumb-item active" aria-current="page" style="color:
                white;">Data</li>
        </ol>
    </nav>
</div>
<div class="row p-0" style="display: flex; flex-direction: row;">
    <nav class="navbar bg-dark">
        <form class="container-fluid" onsubmit="event.preventDefault()">
            <div class="input-group">
                <input type="text" class="form-control" id="inputSearch" placeholder="Name" aria-label="Username"
                    aria-describedby="basic-addon1">
                <button class="btn btn-outline-light col-2" onclick="search('users')" type="submit"
                    style="border-top-right-radius: 5px; border-bottom-right-radius: 5px;">Search</button>
                <button type="button" class="btn btn-outline-success col-2 ms-2" style="border-radius: 5px;"
                    onclick="handleButtonCreate()" id="modal">
                    New User
                </button>
            </div>
        </form>
    </nav>
</div>
<div class="row">
    <table class="table table-hover">
        <thead class="table-dark">
            <tr>
                <th scope="col" colspan="1">#</th>
                <th scope="col" colspan="2">Full Name</th>
                <th scope="col" colspan="2">Email</th>
                <th scope="col" colspan="2">Passwork</th>
                <th scope="col" colspan="1">Option</th>
            </tr>
        </thead>
        <tbody id="tbody">
            {{#each users}}
            <tr id={{this._id}}>
                <td scope="row" colspan="1">{{@index}}</td>
                <td colspan="2">{{this.fullName}}</td>
                <td colspan="2">{{this.email}}</td>
                <td colspan="2">{{this.password}}</td>
                <td colspan="1">
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                        <button type="button" name="edit" onclick="handleButtonUpdate('users',`{{this._id}}`)"
                            class="btn btn-outline-dark">Edit</button>
                        <button type="button" name="delete" onclick="handleButtonDelete('users',`{{this._id}}`)"
                            class="btn btn-outline-danger">Delete</button>
                    </div>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{!-- modal --}}
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">USER</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form onsubmit="event.preventDefault()" id='form'>
                    <div class="mb-3" name='property'>
                        <label for="exampleInputEmail1" class="form-label">Full Name</label>
                        <input type="text" required class="form-control" id="exampleInputEmail1" name="fullName"
                            placeholder="Full Name" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3" name='property'>
                        <label for="exampleInputPassword1" class="form-label">Email</label>
                        <input type="email" required class="form-control" name="email" placeholder="Email"
                            id="exampleInputPassword1" required>
                    </div>
                    <div class="mb-3" name='property'>
                        <label for="exampleInputPassword1" class="form-label">Passwork</label>
                        <input type="text" class="form-control" name="password" placeholder="Passwork"
                            id="exampleInputPassword1">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="handleButtonSave('users')"
                    id="saveModal">Save</button>
            </div>
        </div>
    </div>
</div>